@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
	color: aliceblue;
}

body {
	background-color: #101010;
}

header {
	margin: 0;
	background-color: #161616;
	box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.49);
	-webkit-box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.49);
	-moz-box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.49);

	display: flex;
	justify-content: space-between;

	font-size: 3rem;
	padding: 1rem;
}

.right {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.left {
}
